:root {
    --blanco: #fbfbed;
    --beige: #e6e6ce;
    --negro: #1a1a1a;
    --indigo: #659dff;
    --celeste: #92ccf8;
    --rosita: #facec8;
    --amarillo: #f8fe49;
}

/* Botones ----------------------------------- */
.button {
    display: block;
    background: var(--rosita);
    color: var(--indigo);
    padding: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
    
}

.button:hover {
    background: var(--amarillo);
}

/* Banner con video ---------------------------------------------- */
.banner-video {
  position: relative;
  width: 100%;
  height: 250px; /* ajustá si querés más alto o más bajo */
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}

/* el video ocupa todo el ancho, centrado */
.banner-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8); /* oscurece un poco para que el texto resalte */
}

/* secciones desplegables -------------------------- */
.categorias {
    margin: 3rem auto;
    width: 90rem;
    border-radius: 10px;
    overflow: hidden;
}

/* Cada bloque */
.categorias details {
    border: none;
    margin-bottom: 10px;
}

/* Encabezado (barra de color) */
.categorias summary {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--blanco);
    list-style: none;
    text-align: center;
    border-radius: 10px;
}

/* Diferentes colores */
.cat.peluches_destacados { background: var(--celeste) }
.cat.patrones_destacados { background: var(--celeste) }


/* Galería de imágenes dentro del desplegable -------------------------- */

.contenido {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem;
  justify-items: center; /* CENTEEEEER*/
  background-color: var(--celeste);
}

.peluche-card {
  background: var(--rosita);
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  padding: 1rem; /* Cajas Bordes Tamaño*/
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 250px;
}

.peluche-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.peluche-card h3 {
  color: var(--indigo);
  margin: 0.8rem 0 0.3rem;
}

.precio {
  color: var(--amarillo);
  font-weight: 600;
}

.ver-detalle {
  display: inline-block;
  margin-top: 0.6rem;
  background: var(--celeste);
  color: var(--amarillo);
  padding: 0.5rem 5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s ease;
}

.ver-detalle:hover {
  background: var(--indigo);
}

.desc-card{
    text-align: center;
}

/* info Illumia --------------------------------------- */

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--indigo);
}

div p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--indigo);
}