:root {
    --blanco: #fbfbed;
    --beige: #e6e6ce;
    --negro: #1a1a1a;
    --indigo: #659dff;
    --celeste: #92ccf8;
    --rosita: #facec8;
    --amarillo: #f8fe49;
}

/* secciones desplegables -------------------------- */

/* Contenedor principal */
details {
  border-radius: 12px;
  overflow: hidden; /* ESTA ES LA MAGIA */
  margin-bottom: 1rem;
}

/* La pestaña */
summary {
  cursor: pointer;
  padding: 1rem;
  font-weight: bold;
  background: var(--indigo);
  list-style: none;
  user-select: none;
}

/* Sacar triangulito */
summary::-webkit-details-marker {
  display: none;
}

/* Contenido interno */
details .contenido {
  background: var(--rosita);
  padding: 1rem;
}


/* Diferentes colores */
.cat.peluches_destacados { background: var(--celeste) }
.cat.patrones_destacados { background: var(--celeste) }


/* Galería de imágenes dentro del desplegable -------------------------- */

.contenido-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem;
  justify-items: center; /* CENTEEEEER*/
}

.card {
  background: var(--rosita);
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  padding: 1rem; /* Cajas Bordes Tamaño*/
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 250px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  color: var(--indigo);
  margin: 0.8rem 0 0.3rem;
}

.precio {
  color: var(--indigo);
  font-weight: 600;
}

.ver-detalle {
  display: inline-block;
  margin-top: 0.6rem;
  background: var(--celeste);
  color: var(--amarillo);
  padding: 0.5rem 5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s ease;
}

.ver-detalle:hover {
  background: var(--indigo);
}

.desc-card{
    text-align: center;
}