:root {
    --blanco: #fbfbed;
    --beige: #e6e6ce;
    --negro: #1a1a1a;
    --indigo: #659dff;
    --celeste: #92ccf8;
    --rosita: #facec8;
    --amarillo: #f8fe49;
}

footer {
    background: var(--rosita);
    text-align: center;
    padding: 1rem;
    color: var(--indigo);
    border-radius: 10px 10px 0 0;
}

.socials a {
    color: var(--amarillo);
    margin: 0 5px;
    text-decoration: none;
}